.add-recipe-button {
  display: flex;
  justify-content: flex-end;
  padding: 12px 24px;
}

.recipe-image-div {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 6px;
}

.input-icon-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recipe-detail-page {
  padding: 1rem;
  position: relative;
}

.recipe-image {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.recipe-name {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
  color: var(--primary-color);
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
