.add-recipe-button {
  display: flex;
  justify-content: flex-end;
  padding: 12px 24px;
}

.recipe-image-div {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 6px;
}

.input-icon-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
