.recipe-step-page{
  position: relative;
  padding: 12px 0;
}

.recipe-how-to-make {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.67px;
  padding: 12px 0;
  color: var(--primary-color);
}

.step-steps {
  font-size: 16px;
  letter-spacing: 0.44px;
  padding: 6px 0 !important;
}

li.step-steps::marker {
  color: var(--primary-color);
  list-style-type: "🤯";
}
