.header-toolbar {
  color: var(--secondary-color);
  background: var(--primary-color);
  min-height: 48px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.67px;
  text-decoration: none;
}
