.header-toolbar {
  background-color: var(--white-color);
  color: var(--primary-color-600);
  min-height: 48px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.67px;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: auto;
  height: 100%;
}
